<div class="container">
  <form>
    <div class="mb-3">
      <label for="photoTitle" class="form-label">Photo Title</label>
      <input type="text" class="form-control" id="photoTitle" />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <!-- <textarea type="text" id="description" class="form-control"> -->
    </div>
    <div class="mb-3">
      <label for="imagePath" class="form-label">Image URL</label>
      <input type="text" class="form-control" id="imagePath" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
