<div class="container-sm">
    Sort by:
    <a (click)="onSortByTopRated()" style="cursor: pointer">Top rated</a>
    <a (click)="onSortByDate()">Data upload</a>
</div>
<div class="container-sm">
  <div class="container">
    <div class="image-gallery">
      <p *ngIf="loadedPosts.length<1 && !isFetching">No posts available!</p>
      <div
        class=""
        *ngFor="let img of loadedPosts; let i = index"
      >
        <img 
          src="{{ img.imagePath }}" 
          alt="photo" 
          class="img-fluid" 
          />

        <div>
        <p>Title: {{ img.photoTitle }}</p>
        <p>Autor: {{ img.author }}</p>
        <p *ngIf="img.description">Description: {{ img.description }}</p>
        <p>Date upload: {{ img.date | date : 'shortDate' }}</p>
      </div>
        <div>
         <i
            *ngFor="let star of stars"
            class="fa-star fa-regular"
            [ngClass]="{ 'fa-solid': img.rating ? star <= img.rating : 0 }"
            (click)="countStar(star, i)"
        ></i>
      </div>
        <p *ngIf="isFetching">Loading...</p>
       
      </div>
    </div>
  </div>
   <div class="alert alert-danger" *ngIf="error">
      <h1> An error Occured</h1>
    </div>
</div>
