<div class="container-sm">
  <p>Photos</p>
  <ul class="list-group">
    Sort by:
    <li (click)="onSortByTopRated()" style="cursor: pointer">Top rated</li>
    <li (click)="onSortByDate()">Data upload</li>
  </ul>
</div>
<div class="container">
  <div class="row justify-content-around"></div>
</div>
<div class="container-sm">
  <div class="container">
    <div class="row justify-content-around">
      <div
        class="col-sm"
        *ngFor="let img of addImageFormService.images; let i = index"
      >
        <img src="{{ img.imagePath }}" alt="" class="img-fluid" />
        <p>Title: {{ img.photoTitle }}</p>
        <p>Autor: {{ img.author }}</p>
        <p *ngIf="img.description">Description: {{ img.description }}</p>
        <p>Date upload: {{ img.date | date : 'shortDate' }}</p>

        <i
          *ngFor="let star of stars"
          class="fa-star fa-regular"
          [ngClass]="{ 'fa-solid': img.rating ? star <= img.rating : 0 }"
          (click)="countStar(star, i)"
        ></i>
      </div>
    </div>
  </div>
</div>
