<div
  class="container-fluid vertical-center"
  style="background-color: rgb(230, 207, 179); min-height: 60vh"
>
  <div class="container-sm card text-bg-dark" style="max-width: 70vw">
    <img
      src="src/img/img_1.jpg"
      alt="nature fantasy"
    />

    <div class="card-img-overlay">
      <button
        class="btn btn-primary btn-lg position-absolute top-50 start-50 translate-middle"
        type="button"
        style="background-color: rgb(66, 64, 64); border-color: rgb(66, 64, 64)"
        routerLink="/addimage"
      >
        Add Image
      </button>
    </div>
  </div>
</div>
<div class="container mt-5">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum tempore
    quasi non accusantium maxime ipsam doloribus provident et dignissimos, ea
    odit, maiores dolorum. Non architecto vel nemo fuga porro.
  </p>
</div>

<div class="container-sm mt-5">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.eea.europa.eu/themes/biodiversity/state-of-nature-in-the-eu/state-of-nature-2020-subtopic/image_print" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.eea.europa.eu/themes/biodiversity/state-of-nature-in-the-eu/state-of-nature-2020-subtopic/image_print" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

</div>
<div class="container-fluid mt-5">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellat
    similique veritatis vel, nihil perferendis placeat consequuntur, expedita,
    temporibus dolorum fuga! Maxime minus ad alias ullam asperiores quas qui
    earum!
  </p>
</div>
